In [1]:
import pandas as pd
import env
import numpy as np
from pydataset import data
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import acquire
import os

In [2]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

def get_attendance_data():
    filename = "tidy_data_attendence.csv"

    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        df = pd.read_sql('SELECT * FROM attendance', get_connection('tidy_data'))
        df.to_csv(filename)
        return df

In [3]:
attendance=get_attendance_data()
attendance

,Unnamed: 0,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

In [4]:
attendance.rename(columns={'Unnamed: 0':"name"},inplace=True)

In [5]:
attendance=attendance.replace(['P','T','H','A'],[1.0,0.9,0.5,0.0])

In [6]:
tidy_attendance=attendance.melt(id_vars=['name'],value_name='grade')
tidy_attendance.groupby('name').grade.mean()

name
Billy    0.5250
Jane     0.6875
John     0.9125
Sally    0.7625
Name: grade, dtype: float64

In [7]:
# problem2

In [4]:
def get_coffee_data():
    filename = "tidy_data_coffee.csv"

    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        df = pd.read_sql('SELECT * FROM coffee_levels', get_connection('tidy_data'))
        df.to_csv(filename)
        return df

In [5]:
coffee=get_coffee_data()

In [20]:
tidy_coffee=coffee.melt(id_vars='coffee_carafe',)
tidy_coffee

   coffee_carafe       variable      value
0              x     Unnamed: 0   0.000000
1              x     Unnamed: 0   1.000000
2              x     Unnamed: 0   2.000000
3              x     Unnamed: 0   3.000000
4              x     Unnamed: 0   4.000000
5              x     Unnamed: 0   5.000000
6              x     Unnamed: 0   6.000000
7              x     Unnamed: 0   7.000000
8              x     Unnamed: 0   8.000000
9              x     Unnamed: 0   9.000000
10             y     Unnamed: 0  10.000000
11             y     Unnamed: 0  11.000000
12             y     Unnamed: 0  12.000000
13             y     Unnamed: 0  13.000000
14             y     Unnamed: 0  14.000000
15             y     Unnamed: 0  15.000000
16             y     Unnamed: 0  16.000000
17             y     Unnamed: 0  17.000000
18             y     Unnamed: 0  18.000000
19             y     Unnamed: 0  19.000000
20             z     Unnamed: 0  20.000000
21             z     Unnamed: 0  21.000000
22             z     Unnamed: 0  22.000000
23             z     Unnamed: 0  23.000000
24             z     Unnamed: 0  24.000000
25             z     Unnamed: 0  25.000000
26             z     Unnamed: 0  26.000000
27             z     Unnamed: 0  27.000000
28             z     Unnamed: 0  28.000000
29             z     Unnamed: 0  29.000000
30             x           hour   8.000000
31             x           hour   9.000000
32             x           hour  10.000000
33             x           hour  11.000000
34             x           hour  12.000000
35             x           hour  13.000000
36             x           hour  14.000000
37             x           hour  15.000000
38             x           hour  16.000000
39             x           hour  17.000000
40             y           hour   8.000000
41             y           hour   9.000000
42             y           hour  10.000000
43             y           hour  11.000000
44             y           hour  12.000000
45             y           hour  13.000000
46             y           hour  14.000000
47             y           hour  15.000000
48             y           hour  16.000000
49             y           hour  17.000000
50             z           hour   8.000000
51             z           hour   9.000000
52             z           hour  10.000000
53             z           hour  11.000000
54             z           hour  12.000000
55             z           hour  13.000000
56             z           hour  14.000000
57             z           hour  15.000000
58             z           hour  16.000000
59             z           hour  17.000000
60             x  coffee_amount   0.816164
61             x  coffee_amount   0.451018
62             x  coffee_amount   0.843279
63             x  coffee_amount   0.335533
64             x  coffee_amount   0.898291
65             x  coffee_amount   0.310711
66             x  coffee_amount   0.507288
67             x  coffee_amount   0.215043
68             x  coffee_amount   0.183891
69             x  coffee_amount   0.391560
70             y  coffee_amount   0.189297
71             y  coffee_amount   0.521502
72             y  coffee_amount   0.023163
73             y  coffee_amount   0.235529
74             y  coffee_amount   0.017009
75             y  coffee_amount   0.997464
76             y  coffee_amount   0.058361
77             y  coffee_amount   0.144644
78             y  coffee_amount   0.544676
79             y  coffee_amount   0.594126
80             z  coffee_amount   0.999264
81             z  coffee_amount   0.915990
82             z  coffee_amount   0.144928
83             z  coffee_amount   0.311495
84             z  coffee_amount   0.771947
85             z  coffee_amount   0.398520
86             z  coffee_amount   0.864464
87             z  coffee_amount   0.436364
88             z  coffee_amount   0.280621
89             z  coffee_amount   0.436677

In [46]:
tidy_coffee.pivot_table(columns='coffee_carafe',index='variable', values='value',aggfunc=None)

TypeError: Must provide 'func' or tuples of '(column, aggfunc).

In [12]:
# problem3

In [13]:
def get_cake_data():
    filename = "tidy_data_cake.csv"

    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        df = pd.read_sql('SELECT * FROM cake_recipes', get_connection('tidy_data'))
        df.to_csv(filename)
        return df

In [14]:
cake=get_cake_data()

In [19]:
cake_melt=cake.melt(id_vars='recipe:position',var_name='Temp',value_name='Score')
cake_melt

   recipe:position Temp      Score
0         a:bottom  225  61.738655
1            a:top  225  51.709751
2         b:bottom  225  57.095320
3            b:top  225  82.455004
4         c:bottom  225  96.470207
5            c:top  225  71.306308
6         d:bottom  225  52.799753
7            d:top  225  96.873178
8         a:bottom  250  53.912627
9            a:top  250  52.009735
10        b:bottom  250  61.904369
11           b:top  250  95.224151
12        c:bottom  250  52.001358
13           c:top  250  82.795477
14        d:bottom  250  58.670419
15           d:top  250  76.101363
16        a:bottom  275  74.414730
17           a:top  275  68.576858
18        b:bottom  275  61.196980
19           b:top  275  98.594881
20        c:bottom  275  92.893227
21           c:top  275  92.098049
22        d:bottom  275  51.747686
23           d:top  275  59.571620
24        a:bottom  300  98.786784
25           a:top  300  50.228470
26        b:bottom  300  99.248541
27           b:top  300  58.169349
28        c:bottom  300  65.473084
29           c:top  300  53.960273
30        d:bottom  300  56.183110
31           d:top  300  50.971626

In [26]:
cake_melt[['recipe', 'position']] = cake_melt['recipe:position'].str.split(':', expand = True)
cake_melt.drop(columns=['recipe:position'],inplace=True)

In [45]:
cake_melt.groupby('recipe').Score.mean()

recipe
a    63.922201
b    76.736074
c    75.874748
d    62.864844
Name: Score, dtype: float64

In [69]:
cake_melt.groupby('Temp').Score.mean()

Temp
225    71.306022
250    66.577437
275    74.886754
300    66.627655
Name: Score, dtype: float64

In [93]:
cake_melt.sort_values(by=['Score'],ascending=False)

   Temp      Score recipe position
26  300  99.248541      b   bottom
24  300  98.786784      a   bottom
19  275  98.594881      b      top
7   225  96.873178      d      top
4   225  96.470207      c   bottom
11  250  95.224151      b      top
20  275  92.893227      c   bottom
21  275  92.098049      c      top
13  250  82.795477      c      top
3   225  82.455004      b      top
15  250  76.101363      d      top
16  275  74.414730      a   bottom
5   225  71.306308      c      top
17  275  68.576858      a      top
28  300  65.473084      c   bottom
10  250  61.904369      b   bottom
0   225  61.738655      a   bottom
18  275  61.196980      b   bottom
23  275  59.571620      d      top
14  250  58.670419      d   bottom
27  300  58.169349      b      top
2   225  57.095320      b   bottom
30  300  56.183110      d   bottom
29  300  53.960273      c      top
8   250  53.912627      a   bottom
6   225  52.799753      d   bottom
9   250  52.009735      a      top
12  250  52.001358      c   bottom
22  275  51.747686      d   bottom
1   225  51.709751      a      top
31  300  50.971626      d      top
25  300  50.228470      a      top